@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@rainbow-me/rainbowkit/styles.css";

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    @apply font-mulish;
  }
  p {
    @apply font-poppins;
  }
  ul,
  li,
  ol,
  a {
    list-style-type: none;
    text-decoration-line: none;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
